html {
    height: 100%;
}

body {
    background: url('/media/pics/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #0D2226;
    font-family: 'Montserrat';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #0D2226;
    color: #E9ECF2;
    min-width: 260px;
}

.btn-black {
    background: #0D2226;
    color: #E9ECF2;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #0D2226;
    color: #E9ECF2;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #0D2226 !important;
}

.bg-black {
    background: #0D2226 !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    position:fixed;
    background: #E9ECF2;
    z-index:-1;

}

.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow:visible;
}

.toast-capper {
    height: 2px;
}

.reviews {
    font-style: italic;
}

.error_page {
    min-height: 180px;
    margin: 200px;
}

/* -------------------------------footer styles */
/* || FOOTER STYLES  */
footer {
    position: relative;
    padding-top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3C5949 !important;
    color: #0D2226 !important;
    font-weight: bolder;
    box-shadow: 0 50vh 0 50vh #E9ECF2;
}

.footer-div {
    padding: 2rem 1rem;
}

.text-footer {
    color: #E9ECF2 !important;
}

.text-light {
    font-weight: lighter;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #0D2226;
    color: #E9ECF2;
    min-width: 260px;
}

.btn-black {
    background: #0D2226;
    color: #E9ECF2;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #0D2226;
    color: #E9ECF2;
}

.text-black {
    color: #0D2226 !important;
}

.border-black {
    border: 1px solid #0D2226 !important;
}

#delivery-banner {
    padding-bottom: 116px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}