{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h3 class="display-4 logo-font text-black">
                Oh no! This page doesn't exist. 
            </h3>
            <div class="my-5">
                <h5>
                    Try clicking the link below to get back home!
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Head back Home</a>
                </h5>
            </div>
        </div>
    </div>

</div>
{% endblock %}
                    