<footer class="width-100">
    <div class="row">
        <div class="col-12 col-sm-8">
        </div>
        <!-- Footer -->
        <div class="col-12">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block text-footer">
                    <h5><span>Get connected with us on social networks:</span></h5>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div class="text-footer">
                    <a href="https://www.facebook.com/Terrarium-Supplies-Ireland-100324116187454"
                        class="me-4 text-reset" rel="opener" aria-label="facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.twitter.com" class="me-4 text-reset" rel="noopener" aria-label="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.google.com" class="me-4 text-reset" rel="noopener" aria-label="google">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="https://www.instagram.com/terrariumsuppliesireland" class="me-4 text-reset" rel="noopener"
                        aria-label="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com" class="me-4 text-reset" rel="noopener" aria-label="linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://www.github.com" class="me-4 text-reset" rel="noopener" aria-label="github">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="text-footer">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-6 col-xl-5 mx-auto mb-4">
                            <!-- Begin Mailchimp Signup Form -->
                            <div id="mc_embed_signup">
                                <form
                                    action="https://herokuapp.us21.list-manage.com/subscribe/post?u=0c7c3915320a39fb6611057da&amp;id=e8d4bfc935&amp;f_id=001fc6e1f0"
                                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                    class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <h2>Subscribe</h2>
                                        <div class="indicates-required"><span class="asterisk">*</span> indicates
                                            required</div>
                                        <div class="mc-field-group">
                                            <label for="mce-FNAME">First Name </label>
                                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                            <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
                                        </div>
                                        <div class="mc-field-group">
                                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                            </label>
                                            <input type="email" value="" name="EMAIL" class="required email"
                                                id="mce-EMAIL" required>
                                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                        </div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                                type="text" name="b_0c7c3915320a39fb6611057da_e8d4bfc935" tabindex="-1"
                                                value=""></div>
                                        <div class="optionalParent">
                                            <div class="clear foot">
                                                <input type="submit" value="Subscribe" name="subscribe"
                                                    id="mc-embedded-subscribe" class="button">
                                                <p class="brandingLogo"><a href="http://eepurl.com/ifTqAD"
                                                        title="Mailchimp - email marketing made easy and fun"><img
                                                            src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"
                                                            alt="Mailchimp Logo"></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <script
                                src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                            <script>
                                (function ($) {
                                    window.fnames = new Array();
                                    window.ftypes = new Array();
                                    fnames[0] = 'EMAIL';
                                    ftypes[0] = 'email';
                                    fnames[1] = 'FNAME';
                                    ftypes[1] = 'text';
                                    fnames[2] = 'LNAME';
                                    ftypes[2] = 'text';
                                    fnames[3] = 'ADDRESS';
                                    ftypes[3] = 'address';
                                    fnames[4] = 'PHONE';
                                    ftypes[4] = 'phone';
                                    fnames[5] = 'BIRTHDAY';
                                    ftypes[5] = 'birthday';
                                }(jQuery));
                                var $mcj = jQuery.noConflict(true);
                            </script>
                            <!--End mc_embed_signup-->
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3"></i>Terrarium Supplies Ireland
                            </h6>
                            <p class="text-light">
                                Terrarium Supplies Ireland is an Irish owned company based in the West of Ireland. As
                                <strong>terrarium enthusiasts</strong>,
                                and lovers of all things nature and decor, we found it frustrating that buying our
                                <strong>terrarium supplies</strong> from
                                multiple stores online (and paying huge shipping costs too!). So, in November 2021, we
                                decided to do something about it.
                                <br>
                                Our store was set up to allow <strong>nature lovers</strong>, interior decorators, and
                                those of us who love to create beautiful things for
                                our homes, a "one-stop-shop" for everything we need!
                                <br>
                                Through our site and our social media pages we hope to bring more people into the
                                terrarium fold; by running a series of
                                tutorials; <strong>what is a terrarium, how to build one and what supplies you might
                                    need</strong>. Sign up for our newsletter to get the
                                most up to date info on our classes!
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Useful links
                            </h6>
                            <ul>
                                <li><a href="{% url 'contact' %}" class="text-reset">Help</a></li>
                                <li><a href="{% url 'stallholderapplication' %}" class="text-reset">Apply to become a Stallholder</a></li>
                            </ul>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2022 Copyright Terrarium Supplies Ireland:
            </div>
            <!-- Copyright -->
            <!-- Footer -->
        </div>
    </div>
</footer>